
{% extends "layout.html" %}
{% block body %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<br><br><br>
<center>
    <div  class="col-md-6 col-md-offset-3" align="center">
        <h1 class="h3 mb-3 font-weight-normal" align="center">Most Posts by Users</h1>
{{ top_users | safe }}

<img src="data:image/png;base64, {{ plot_url }}" alt="graph">
    </center>
</div>
</body>
</html>
{% endblock %}