{% extends "layout.html" %}
{% block body %}

<head>
    <br><br>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap-4.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
</head>
<div class = container>
<body class="text-center">
<form method="post" class='form-signin' action="/change_password">

    {{ success | safe }}
    {% if status == 'IncorrectPassword' %}
    <div class="col-sm-12">
        <small id="passwordHelp" class="text-danger">
            Current Password is Incorrect
        </small>
    </div>
    <label for="currentPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="currentPassword" name="currentPassword" class="form-control is-invalid"
           placeholder="Current Password" required autofocus>

    {% else %}
    <label for="currentPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="currentPassword" name="currentPassword" class="form-control"
           placeholder="Current Password" required autofocus>
    {% endif %}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name='newPassword' id="inputPassword" class="form-control" placeholder="New Password"
           required>
    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm New Password" required>

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
    <p class="mt-5 mb-3 text-muted"></p>
</form>
</div>
<script>
    var password = document.getElementById("inputPassword"),
        confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</body>
</html>
{% endblock %}