<!doctype html>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="icon" href="favicon.ico">

    <title>mongoGuestbook</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-4.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <a class="navbar-brand" href="/">mongoGuestbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create a Post</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Analytics</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/analytics/top">Top Statistics</a>
                    <!--<a class="dropdown-item" href="/profile">Profile</a>-->
                    <!--<a class="dropdown-item" href="/logout">Logout</a>-->
                </div>
            <li class="nav-item">
                <a class="nav-link" href="/graphql">GraphQL</a>
            </li>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if not session.get('logged_in') %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% elif session.get('logged_in') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Welcome {{ session['username'] }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/change_password">Change Password</a>
                        <!--<a class="dropdown-item" href="/profile">Profile</a>-->
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


{% block content %}
{% endblock %}
<!-- /.container -->
<!--<div class="container">-->
<!--<div class="row">-->
{% for message in get_flashed_messages() %}
    <div class=container-fluid">
        <center>
            <div class="alert alert-warning col-md-4 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        </center>
    </div>
{% endfor %}
<!--</div>-->
<!--</div>-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<!--<script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<script src="/static/bootstrap-4.1.0/assets/js/vendor/popper.min.js"></script>
<script src="/static/bootstrap-4.1.0/dist/js/bootstrap.min.js"></script>


{% block body %}
{% endblock %}

</body>
</html>