{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class='container'>
    <div class="row justify-content-center">
        <div class="col-6">
            {% for post in posts %}
            <div class="card">
                <div class="card-body mw-60"><strong>{{post['author']}}</strong> wrote: {{post['post']}} <br>
                    <i><span title="{{ post['time'] }}">{{ time_difference(datetime.datetime.strptime(post['time'], '%Y-%m-%dT%H:%M:%S.%f'))}}
                    </i></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>


{% endblock %}